.popup {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s ease-in-out;
}
