.element__like {
  width: 22px;
  background-image: url(../../../images/heart.svg);
  border: 0;
  margin: 0 5px 0 0;
  background-color: rgba(255, 255, 255, 0);
  background-size: 22px 19px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  cursor: pointer;
  transition: opacity 1s, visibility 1s, transform 1s ease-in-out;
}

.element__like:hover {
  opacity: .3;
  visibility: .3;
  transition: opacity 1s, visibility 1s, transform 1s ease-in-out;
}