.element__like {
  width: 22px;
  background-image: url(./images/heart-png.png);
  border: 0;
  margin: 0 5px 0 0;
  background-color: rgba(255, 255, 255, 0);
  background-size: 22px 19px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  cursor: pointer;
}

.element__like:hover {
  opacity: .5;
}