.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
  min-width: 320px;
  min-height: 75px;
  box-sizing: border-box;
  width: 100%;
  margin: 45px auto 38px;
  border-bottom: 1px rgba(84, 84, 84, .7) solid;
}

  @media screen and (max-width: 984px) {
    .header {
      margin-top: 28px;
      padding: 0 27px;
    }
  }

  @media screen and (max-width: 568px) {
    .header {
      margin-bottom: 42px;
      min-height: 56px;
    }
  }
