.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 8px 0 0 0;
  max-width: 312px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .profile__subtitle {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin-top: 6px
  }
}
