.element__description {
  max-width: 246px;
  /* padding: 0 10px; */
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 21px;
  box-sizing: border-box;
}

@media screen and (max-width: 984px) {
  .element__description {
    /* margin: 25px auto 0 auto; */
  }
}