.profile__avatar {
  max-width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

@media screen and (max-width: 750px) {
  .profile__avatar {
    margin: 0 auto 22px auto;
    display: block;
    align-items: center;
  }
}
